<nav class="navbar sticky-top navbar-dark bg-dark h-100" app-theme>
  <div class="container-fluid">
      <a class="navbar-brand mx-auto" href="#">Employee Management System</a>
  </div>
</nav>
<div >
	<div class="main container">
		<div class="innerdiv">
      <span>Light</span>
      <label class="switch">
        <input type="checkbox" (click)="toggle()" >
        <span class="slider round"></span>
      </label>
      <span>Dark</span>
    </div>
  </div>
</div>
<!-- <div class="header">
  <div class="logo">w</div>
  <div class="toggle">
    <div class ="text">toggle dark</div>
    <div> <ui-switch [(ngModel)]="isDark" (chage)="toggleTheme()"></ui-switch></div>
  </div>
</div> -->

